Source: wasistlos
Section: web
Priority: optional
Maintainer: Enes Hecan <nshecan@gmail.com>
Build-Depends: cmake (>= 3.16),
               debhelper-compat (= 13),
               intltool,
               libgtkmm-4.0-dev,
               libwebkitgtk-6.0-dev,
               pkgconf
Standards-Version: 4.5.1
Homepage: https://github.com/anupamsr/WasIstLos
Rules-Requires-Root: no

Package: wasistlos
Architecture: any
Depends: glib-networking,
         gstreamer1.0-libav,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         libgtkmm-4.0-1t64,
         libwebkitgtk-6.0-4
Description: An unofficial WhatsApp desktop application for linux
